body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  width: auto;
}
header {
  background-color: blanchedalmond;
  padding: 10px;
  width: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  margin: 8px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 8px;
}
nav a {
  color: black;
  text-decoration: none;
  padding: 8px;
  
}
nav a:hover {
  border-bottom: 2px solid black;
  background-color: darkgray;
}
.perfil {
  position: relative;
  text-align: left;
  padding: 40px 20px;
  left: -20px;
}

.foto-perfil {
  width: 150px;
  height: 250px;
  border: 4px solid #333;
  margin-bottom: 20px;
  border-radius: 40px 40px 0px 0px;
}
.hero {
  padding: 60px 20px;
  display: flex;
  gap: 30px;
}
.hero h2 {
  font-size: 2em;
}
div {
  padding: 10px;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn:hover{
  transform: scale(1.1);
}
.sobre {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto; 
  background-color: #f5f5f5;
}
.projetos {
  padding: 40px 20px;
  margin: auto;
  width:0 auto;
}
.projeto1-2 {
    display: flex;
    gap: 20px;
}
 .projeto1 {
  background-color: azure;
  padding: 10px;
  margin-top: 20px;
  border-left: 5px solid #333;
}
.projeto2 {
  background-color: burlywood;
  padding: 10px;
  margin-top: 20px;
  border-left: 5px solid #333;
}
.projeto1 a {
  text-decoration: none;
  color:black;
}
.projeto2 a {
  text-decoration: none;
  color:black;
}
.projeto1 a:hover{
  text-decoration: underline
}
.projeto2 a:hover{
  text-decoration: underline
}
.projeto1 img {
  width: 155px;
  height:150px;
  border-radius: 8px;
}
.projeto2 img {
  width: 155px;
  height: 150px;
  border-radius: 8px;
}
/* Versão para os tablet */
@media(min-width:600px) and (max-width:991.98px){
  .foto-perfil {
    width: 180px;
    height: 300px;
  }
  div {
    padding: 17px;
  }
  .projeto1-2 {
    display:block ;
  }
  .projeto1 img {
    width: 180px;
    height: 120px;
  }
  .projeto2 img {
    width: 180px;
    height: 120px;
  }
}
/* Versão para os computadores */
@media(min-width:992px) {
  nav h1 {
    font-size: 40px;
  }
  nav a {
    font-size: 20px;
  }
  .sobre  {
    padding: 80px 40px;
    font-size: 24px;
  }
  div {
    font-size: 24px;
    padding: 20px;
  }
  .projetos h2 {
    font-size: 25px;
  }
 .foto-perfil {
    width: 280px;
    height: 500px;
  }
  .projeto1-2 {
    display:block ;
  }
  .projeto1 a :hover {
    text-decoration: underline;
  }
  .projeto2 a :hover {
    text-decoration: underline;
  }
  .projeto1 img {
    width: 180px;
    height: 120px;
  }
  .projeto2 img {
    width: 180px;
    height: 120px;
  }
}
