body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
 width: 100%;
}
header {
  background-color: blanchedalmond;
  padding: 10px;
  width: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  margin: 0;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
nav a {
  color: black;
  text-decoration: none;
  padding: 8px;
  
}
nav a:hover{
  border-bottom: 2px solid black;
  background-color: darkgray;
}