body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  width: 100%;
}
header {
  background-color: blanchedalmond;
  padding: 20px;
  width: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  margin: 0;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
nav a {
  color: black;
  text-decoration: none;
  padding: 8px;
  
}
nav a:hover{
  border-bottom: 2px solid black;
  background-color: darkgray;
}
div{
  margin: 8px;
  align-items: center;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
div ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul{
  list-style: upper-roman;
}